.footer{
	position: absolute;
	background-color: purple;
	color: gold;
	text-align: center;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/domine/v4/pAB7vaxH_MyxaONhFl0NvevvDin1pK8aKteLpeZ5c0A.woff");
}
h1{
	color: purple;
	text-transform: uppercase;
	font-family: Domine, serif;

}
body{
	background-color: rgb(179, 163, 198);
}
#contacttable{
	background-color: purple;
}
a{
	color: gold;
}

