.footer{
	position: fixed;
	background-color: purple;
	color: gold;
	text-align: center;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/domine/v4/pAB7vaxH_MyxaONhFl0NvevvDin1pK8aKteLpeZ5c0A.woff");
}
h1{
	color: purple;
	text-transform: uppercase;
	font-family: Domine, serif;
  text-align: center;
  font-weight: 900;

}
h3{
    color: purple; 
    text-decoration: underline;
    font-size: larger;
  }
#menutable{
    background-color: rgb(233, 244, 78);
  }
form{
    color: gold;
    font-style: bold;
    text-align: center;
  }
html,body{
	background-color: rgb(179, 163, 198);
	position: relative;
	height: 106%;
}
#menu{
  background-color:rgb(233, 244, 78);
  text-align: center;
}
#bevmenu{
  text-align: center;
  background-color:rgb(233, 244, 78);
}
#bevpricemenu{
  text-align: justify;
  background-color:rgb(233, 244, 78);
}

#contacttable{
	background-color: purple;
}
a{
	text-decoration: none;
	color: gold;
}
a:link{
	text-decoration: none;
	color: gold;
}
a:visited{
	text-decoration: none;
	color: blue;
}
a:hover {
	 text-decoration: underline;
	 font-weight: bold;
}
a:active{
	text-decoration: none;
}
#carouseltext{
  font-style: italic;
  color: lime;
  font-size: 17pt;
  font-weight: 800;
}


