body{
	background-color: rgb(90, 137, 132);	
}
table, th, td, tr {		
		border-collapse: collapse;		
		padding: 5px;	
	}
table{
	background-color: rgb(44, 47, 45);
	text-align:center;
	margin:auto;
	cell-padding: 10px;

}
caption{
	text-align: center;
	color: rgb(157, 49, 191);
}
th,td{
	color: rgb(157, 49, 191);
	text-align:left;
}
h1{
	text-align: center;
	color: rgb(157, 49, 191);
}
#button {
	text-align:center;
	margin:auto;
}
#enterbet{
	text-align:center;
	margin:auto;
}
