th{
	color: red;
}
td{
	color: blue;
}
li{
	color: maroon;
	font-style: italic;
} 
h1{
	border-bottom: 1px solid black; 
	border-top: 1px solid black;
}
#bass{
	color: blue;
}
table{
	background-color: gold;
}
h1{
	color: red;
}
body{
	background-color: silver;
}