.footer{
	position: absolute;
	background-color: purple;
	color: gold;
	text-align: center;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}
h1{
	color: purple;
	font-style: bold;
	font-style:  italic;
}
body{
	background-color: silver;
}
#contacttable{
	background-color: purple;
}
a{
	color: gold;
}
